<h1>User info</h1>
<table>
  <tr>
    <td></td>
  </tr>
  <tr>
    <th>name</th>
    <td></td>
  </tr>
  <tr>
    <th>introduction</th>
    <td></td>
  </tr>
</table>

<h1>New book</h1>
  <%= form_with model:@book, url: books_path do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_field :body %>
    <%= f.submit %>
  <% end %>
  
<div>
  <h1>Books</h1>
  <table>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    <% @books.each do |book| %>
    <tr>
      <td></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
    <% end %>
  </table>
</div>