<%= render 'users/userinfo', user: @user %>

<%= render 'books/newbook', book: @newbook %>

<h1>Book detail</h1>
<table>
  <tr>
    <td>
      <%= link_to book_path do %>
        <%= @book.title %>
      <% end %>
    </td>
    <td>
      <%= @book.body %>
    </td>
    <% if @book.user == current_user %>
      <td>
        <%= link_to "Edit", edit_book_path(@book) %>
      </td>
      <td>
        <%= link_to "Destroy", book_path(@book), method: :delete %>
      </td>
    <% end %>
  </tr>
</table>
